.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      font-size: 14px;
      color: #2c2c2c;
      font-weight: 600;
      box-shadow: 0 1px 3px rgba(155, 128, 128, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
      &::placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.3);
      }
      &[type="submit"] {
        background-color: #3498db;
        color: white;
        cursor: pointer;
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}
