.videoPlayer {
  //   background-color: skyblue;
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  display: flex;
  video {
    width: 100%;
    max-width: 100%;
  }
  margin-bottom: 5px;
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.2s linear;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    // color: white;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // font-size: 14px;
    .videoPlayer__column:nth-child(1) {
      display: flex;
      align-items: center;
      span:not(last-child) {
        margin-right: 10px;
      }
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    .videoPlayer__column:nth-child(3) {
      justify-self: flex-end;
    }
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
