extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="password", name="password", placeholder="Current Password", ruquired)
            input(type="password", name="password2", placeholder="Password", ruquired)
            input(type="submit", value="Update Password")
