extends layouts/main

block content
    h2=pageTitle
    .form-container
        form(action=routes.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="file", nmae="avatar", id="avatar")
            input(type="text", name="name", placeholder="Name")
            input(type="email", name="email", placeholder="Email")
            input(type="submit", value="Update Profile")
        a(href=`/users${routes.changePassword}`)
            button Change Password